# Teradata
TD_HOST=192.168.47.128
TD_USER=dbc
TD_PASSWORD=dbc
TD_PORT=1025
TD_LOGMECH=TD2

# Bronze/Silver/Gold database names (created by teradata/ddl/00_create_databases.sql)
TD_DB_BRONZE=DW_BRONZE
TD_DB_SILVER=DW_SILVER
TD_DB_GOLD=DW_GOLD
TD_DB_DQ=DW_DQ

# Ingestion
DATA_DIR=./data
BATCH_SIZE=10000
